---
layout: default
title: Blog
category: blog
---

{% include blog_sub_nav.html %}

<section class="inner">
  <div class="pidex">
    <blockquote>
      <p>Less is More. Time is Money</p>
    </blockquote>
  <div>
  <ul class="posts">
    {% for post in site.posts %}
	  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
	  {% if year != y %}
		{% assign year = y %}
		<span class="listing-seperator">{{ y }}</span>
	  {% endif %}

    <!-- <a class='post-link-in-posts' href="{{ site.url }}{{ post.url }}"> -->    
    <a class='post-link-in-posts' href="{{ post.url }}">
      <span class='date'>{{ post.date | date: "%b %d" }}</span>
      <span class='article'>{{ post.title }}</span>
      <a href="http://nijiazhi.github.io/blog/Self-disciplined-from-here.html#disqus_thread">评论</a>
  		<div class="tag-in-index-post">
          <i class="fa fa-tags"></i>
            <div class="tag">
  		        {{ post.tags | first }}
            </div>
      </div>
    </a>
    {% endfor %}
  </ul>
</section>
