---
layout: default
title: Blog
category: blog
---

{% include blog_sub_nav.html %}

<section class="inner">
  <div class="pidex">
    <blockquote>
      <p>Less is More. Time is Money</p>
    </blockquote>
  <div>
  <ul class="posts">
    {% for post in site.posts %}
	  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
	  {% if year != y %}
		{% assign year = y %}
		<span class="listing-seperator">{{ y }}</span>
	  {% endif %}

    <a class='post-link-in-posts' href="{{ site.url }}{{ post.url }}">    
      <span class='date'>{{ post.date | date: "%b %d" }}</span>
      <span class='article'>{{ post.title }}&nbsp
        <span style="font-size: 0.3em;color: #939aa1;">
          (热度:<a href="{{ site.url }}{{ post.url }}#disqus_thread">7</a>)
        </span>
      </span>

  		<div class="tag-in-index-post">
          <i class="fa fa-tags"></i>
            <div class="tag">
  		        {{ post.tags | first }}
            </div>
      </div>

      
    </a>
    {% endfor %}
  </ul>
</section>

<script id="dsq-count-scr" src="https://nijiazhi.disqus.com/count.js" async></script>
